*{
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 2em;
    font-family: cursive;
    color: black;
}

h2{
    font-size: 1em;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
}

h3{
    font-size: 1em;
    font-family:'Courier New', Courier, monospace;
    color: black;
    padding-left: 1rem;
}

p{
    padding-left: 1rem;
}

.header{
    background-image:url("../imgs/Fondo.webp");
    background-size: 25%;
    background-repeat: no-repeat;
    background-position-x:right;
    background-position-y: center;
    background-color: lightgray;
    border: 5em solid lightgray;
}

.div1{
    background-color: white;
    border: 10em solid white;
}

.div2{
    background-color: white;
    border: 10em solid white;
}

.div3{
    background-color: white;
    border: 10em solid white;
}

.footer{
    background-color: chocolate;
    border: 1em solid chocolate;
    text-align: center;
}